<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>types</key>
	<dict>
		<key>_http._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>http</string>
			<key>image</key>
			<string>com.apple.Safari</string>
			<key>typeName</key>
			<string>HTTP</string>
		</dict>
		<key>_afpovertcp._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>afp</string>
			<key>image</key>
			<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericAirDiskIcon.icns</string>
			<key>typeName</key>
			<string>AFP</string>
		</dict>
		<key>_smb._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>smb</string>
			<key>image</key>
			<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericFileServerIcon.icns</string>
			<key>typeName</key>
			<string>Samba</string>
		</dict>
		<key>_ssh._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>ssh</string>
			<key>image</key>
			<string>com.apple.Terminal</string>
			<key>typeName</key>
			<string>SSH</string>
		</dict>
		<key>_rfb._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>vnc</string>
			<key>image</key>
			<string>com.apple.ScreenSharing</string>
			<key>typeName</key>
			<string>VNC</string>
		</dict>
		<key>_plexmediasvr._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>http</string>
			<key>image</key>
			<string>Plex</string>
			<key>path</key>
			<string>/web</string>
			<key>typeName</key>
			<string>Plex</string>
		</dict>
		<key>_ipp._tcp.</key>
		<dict>
			<key>scheme</key>
			<string>ipp</string>
			<key>image</key>
			<string>/System/Library/PreferencePanes/PrintAndScan.prefPane/Contents/Resources/PrintScanPref.icns</string>
			<key>path</key>
			<string>/ipp/</string>
			<key>typeName</key>
			<string>IPP</string>
		</dict>
	</dict>
</dict>
</plist>
